LLM_PROVIDER="azure" # azure or openai
LLM_TEMPERATURE="0.0"

# Azure OpenAI
# AZURE_OPENAI_API_KEY="your-api-key"
# AZURE_OPENAI_ENDPOINT="https://your-resource-name.openai.azure.com/"
# AZURE_OPENAI_DEPLOYMENT_NAME="your-deployment-name"
# AZURE_OPENAI_API_VERSION="2024-02-15-preview"

# OpenAI
# OPENAI_API_KEY="sk-..."
# OPENAI_MODEL_NAME="gpt-4o"
